body {
    background-color: black;
    color: white;
}
.user-input {
    display: none;
    border: 1px solid white;
    width: fit-content;
    background-color: black;
    color: white;
    padding: 15px;
    position: absolute;
    bottom: 50%;
    right: 50% ;
    z-index: 9;
}

.displayed-books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.book {
    border: 1px solid black;
    width: 33%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.readCheck {
    width: 75px;
    height: 32px;
}

.form-element:invalid {
    border: 1px solid red;
}